*{
    margin: 0%;
    padding:0%
  }
  html, body{
    width: 100%;
    height: 100%;
  }
  
  main{
    display: flex;
    justify-content: center;
    background-color: #111;
    width: 100%;
    height: 100%;
  }
  
  #container{
    width: 400px;
    height: 400px;
    /* background-color: ; */
    position: absolute;
    top: 10%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h1{
    color: white;
    font-size: 40;
    font-family: sans-serif; 
    margin-bottom: 10px; 
  
  }
  #user-input{
    width: 100%;
    height: 10%;
    background-color: white;
    margin-top: 10px;
    font-size: 30px;
    border: none;
    padding: 5px 0px;

  }
  #results-div{
    width: 100%;
    height: 30%;
    background-color: white;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
  }
  
  button{
    width: 100%;
    border: none;
    background-color: yellow;
    padding: 20px;
    cursor:pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
  }

